<!DOCTYPE html>
<html>
<head>
	<title>bienvenida</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<body>
<h3 align="right"><a href="./Login.html"</a>Iniciar Sesion</a></h3>
	<div class="container">
	<div class="alert alert-primary" role="alert">
		<img src="./logoitesg.png "  width="1000" height="200" alt="texto alternativo de la imagen">
		<h1>Bienvenid@</h1>
		<div class="cartel">
  <div class="container">
    <h2 class="display-4">Intututo tecnologico superior de guanajuato</h2>
    <p class="lead">Ingenieria en Sistenas Computacionales</p>
  </div>
</div>
	</div>
	
	<h1>En esta carrera vas a poder hacer </h1>
	<h5>
		Desarrollar, implementar y administrar software de sistemas o de aplicacion que cumpla con los estandares de calidad con el fin de apoyar la productividad y competitividad de las organizaciones.<p></p>
		Coordinar y participar en proyectos de inteligencia artificial.<p></p>
        Disenar e implementar interfaces hombre maquina y maquina maquina para la automatizacion de sistemas.<p></p>
        Identificar y comprender las tecnologias de hardware para proponer, desarrollar y mantener aplicaciones eficientes.</h5>

        <img src="./computadora.png"> <p></p> <img src="./code.png" >


	
</div>
<script type="./js/bootstrap.min.js"></script>
</body>
</html>